<div>
    <div class="col-10 mx-auto my-5"></div>
    <table class="table table-striped-columns">
        <thead>
            <tr>                
                <th>documentId</th>
                <th>name</th>
                <th>lastName</th>
                <th>email</th>
                <th>address</th>
            </tr>
        </thead>
        <tbody>
            @for (item of user; track $index) {
            <tr>
                <td>{{item.documentId}}</td>                
                <td>{{item.name}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.email}}</td>
                <td>{{item.address}}</td>
            </tr>
            }
        </tbody>
        
    </table>
</div>

