<div>
    <div class="col-10 mx-auto my-5"></div>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th>energyTypeId</th>
                <th>price(usd)</th>
                <th>name</th>
                <th>type</th>
            </tr>
        </thead>
        <tbody>
            @for (item of energyType; track $index) {
            <tr>
                <td>{{item.energyTypeId}}</td>
                <td>{{item.price}}</td>
                <td>{{item.name}}</td>
                <td>{{item.type}}</td>
            </tr>
            }
        </tbody>
        
    </table>
</div>
